
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.container {
    float: left;
    margin: 16px 0;
    width: 100%;
}

.wrap {
    margin: 0 auto;
    max-width: 1068px;
    position: relative;
    width: 100%;
}

.wrap:before,
.wrap:after {
    content: "";
    display: table;
}

.wrap:after {
    clear: both;
}

#main-header {
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
}

#header-logo {
    display: inline-block;
    margin: 32px 0;
}

#header-logo a {
    color: #333;
    display: inline-block;
    text-decoration: none;
}